.logo {
    display: inline-block;
}

.menu {
    display: inline-block;
    list-style: inside none;
    margin-left: 80px;

    & li{
        display: inline-block;
        margin-left: 10px;

        & a {
            text-decoration: none;
            color: #000000;
            }
        } 

        & a:hover {
            color: #1890ff;
            border-bottom: 3px #1890ff solid;
        }
}
